#index {
  main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
    .grid-container {
      height: 800px;
      display: grid;
      grid-template-areas: 
      'Sidebar1  Options Options Options Options Sidebar2'
      'Sidebar1  Products Products Products Products Sidebar2'
      'Sidebar1  Products Products Products Products Sidebar2'
      'Sidebar1  Products Products Products Products Sidebar2';
    }
    background-color: azure;
    
    .Sidebar1 {
      grid-area: Sidebar1;
      background-color: beige;
    }
    .Products {
      grid-area: Products;
      background-color: brown;
      display: grid;
      grid-template-columns: repeat(4, 0.5fr);
      place-items: stretch;
      
    }

    .Options {
      grid-area: Options;
      background-color: chocolate;
    }
    .Sidebar2 {
      grid-area: Sidebar2;
      background-color: springgreen;
    }
  }
  
}
.wrapper {
    display: grid;
    margin: 0;
    grid-template-rows: 160px auto 30px;
    grid-template-areas: 
    "header" 
    "main" 
    "footer";
  }
  #LogIn {
    text-align: center;
  }
  header {
    display: grid;
    grid-area: header;
    nav {
        background-color: mediumaquamarine;
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 10px;   
            li {
                background-color: mediumaquamarine;
                a {
                    text-decoration: none;
                    color: white;
                }
                list-style: none;
                img {
                    height: 120px;
                }
            }  
        }
    }
  }
.Home {
    grid-column: 1;
}

.Shop {
    grid-column: 2;
}

.Blog {
    grid-column: 3;
}

.Search {
    grid-column: 4;
}

.Cart {
    grid-column: 5;
}

  
  footer {
    grid-area: footer;
    text-align: center;
  }

  #blog {
    .grid-container {
      grid-area: main;
      display: grid;
      grid-template-areas: 
      'Blogtitle Blogtext Blogtext Blogtext'
      'Blogimage Blogtext Blogtext Blogtext'
      'Blogimage Blogtext Blogtext Blogtext'
      'Blogimage Blogtext Blogtext Blogtext'
      'Blogtime Blogtext Blogtext Blogtext'
      'Blogtime Blogtext Blogtext Blogtext';
    }
    #Blogtitle {
      grid-area: Blogtitle;
      background-color: cornflowerblue;
    }
    #Blogtext {
      grid-area: Blogtext;
      background-color: firebrick;
    }
    #Blogimage {
      grid-area: Blogimage;
      background-color: darkorchid;
    }
    #Blogtime {
      grid-area: Blogtime;
      background-color: green;
    }
    
  }