main {
  grid-area: main;
  background-color: rgb(255, 255, 255);
}

#LogIn {
  text-align: center;
}

header {
  display: grid;
  grid-area: header;
}
header nav {
  background-color: mediumaquamarine;
}
header nav ul {
  display: grid;
  grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
}
header nav ul li {
  background-color: mediumaquamarine;
  list-style: none;
}
header nav ul li a {
  text-decoration: none;
  color: white;
}
header nav ul li img {
  height: 120px;
}

.Home {
  grid-column: 1;
}

.Shop {
  grid-column: 2;
}

.Blog {
  grid-column: 3;
}

.Search {
  grid-column: 4;
}

.Cart {
  grid-column: 5;
}

footer {
  grid-area: footer;
  text-align: center;
}

#index .wrapper {
  height: 100px;
  display: grid;
  margin: 0;
  grid-template-rows: 160px auto 30px;
  grid-template-areas: "header" "main" "footer";
}
#index .wrapper .grid-container {
  height: 100%;
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-rows: auto;
  grid-template-areas: "Sidebar1  Options Options Options Options Sidebar2" "Sidebar1  Products Products Products Products Sidebar2" "Sidebar1  Products Products Products Products Sidebar2" "Sidebar1  Products Products Products Products Sidebar2";
}
#index .wrapper .grid-container .Products {
  grid-area: Products;
  background-color: rgb(255, 255, 255);
  display: grid;
  grid-template-columns: repeat(4, 0.5fr);
  place-items: stretch;
  padding: 20px;
  grid-gap: 20px;
}
#index .wrapper .grid-container .Products article {
  text-align: center;
  border: 2px black solid;
  padding-bottom: 10px;
}
#index .wrapper .grid-container .Products button:hover {
  background-color: mediumaquamarine;
  border: 1px solid rgb(170, 170, 170);
}
#index .wrapper .grid-container .Products img {
  margin-top: 10px;
  border: 2px solid black;
}
#index .wrapper .grid-container .Options {
  grid-area: Options;
  background-color: rgb(255, 255, 255);
  border: 2px solid black;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

#blog .grid-container {
  grid-area: main;
  padding-top: 10px;
  display: grid;
  grid-template-columns: 100px auto 100px;
  grid-template-areas: "SidebarBlog1 Blog Blog Blog Blog SidebarBlog2" "SidebarBlog1 Blog Blog Blog Blog SidebarBlog2" "SidebarBlog1 Blog Blog Blog Blog SidebarBlog2" "SidebarBlog1 Blog Blog Blog Blog SidebarBlog2" "SidebarBlog1 Blog Blog Blog Blog SidebarBlog2";
}
#blog .blog {
  grid-area: Blog;
  display: grid;
  grid-template-columns: repeat(1, 2fr);
  grid-template-areas: "Blogtitle Blogtext Blogtext Blogtext" "Blogimage Blogtext Blogtext Blogtext" "Blogimage Blogtext Blogtext Blogtext" "Blogtime Blogtext Blogtext Blogtext";
}
#blog .blog #Blogtitle {
  grid-area: Blogtitle;
  background-color: cornflowerblue;
}
#blog .blog #Blogtext {
  grid-area: Blogtext;
  background-color: firebrick;
}
#blog .blog #Blogimage {
  grid-area: Blogimage;
  background-color: darkorchid;
}
#blog .blog #Blogtime {
  grid-area: Blogtime;
  background-color: green;
}
@media only screen and (max-width: 850px) {
  #blog .grid-container {
    background-color: red;
    grid-template-areas: "Blogtitle" "Blogimage" "Blogtime" "Blogtext";
  }
}

#cart h2 {
  text-align: center;
  font-size: 2em;
}
#cart p {
  text-align: center;
  font-size: 1em;
}
#cart .container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50vh;
}
#cart form {
  display: flex;
  flex-direction: column;
  width: 200px;
  text-align: center;
}
#cart .form-column {
  flex: 1;
  margin-right: 20px;
}
#cart label, #cart input {
  display: block;
  margin-bottom: 10px;
}
#cart span {
  color: red;
}
#cart #submit-button {
  margin-top: 10px;
}

#CreateBlog main {
  text-align: center;
}
#CreateBlog main form #blogContent {
  width: 50vw;
  height: 50vh;
}/*# sourceMappingURL=style.css.map */