main {
  grid-area: main;
  background-color: rgb(255, 255, 255);
  
}
#LogIn {
  text-align: center;
}
header {
  display: grid;
  grid-area: header;
  nav {
      background-color: mediumaquamarine;
      
      ul {
          display: grid;
          grid-template-columns: 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr 0.5fr ;   
          li {
              background-color: mediumaquamarine;
              a {
                  text-decoration: none;
                  color: white;
              }
              list-style: none;
              img {
                  height: 120px;
              }
          }  
      }
  }
}

.Home {
  grid-column: 1;
}

.Shop {
  grid-column: 2;
}

.Blog {
  grid-column: 3;
}

.Search {
  grid-column: 4;
}

.Cart {
  grid-column: 5;
}

footer {
grid-area: footer;
text-align: center;
}

#index {
  .wrapper {
    height: 100px;
    display: grid;
    margin: 0;
    grid-template-rows: 160px auto 30px;
    grid-template-areas: 
    "header" 
    "main" 
    "footer";

    .grid-container {
      height: 100%;
      display: grid;
      grid-template-columns: 100px auto 100px;
      grid-template-rows: auto;
      grid-template-areas: 
      'Sidebar1  Options Options Options Options Sidebar2'
      'Sidebar1  Products Products Products Products Sidebar2'
      'Sidebar1  Products Products Products Products Sidebar2'
      'Sidebar1  Products Products Products Products Sidebar2';
      .Products {
        grid-area: Products;
        background-color: rgb(255, 255, 255);
        display: grid;
        grid-template-columns: repeat(4, 0.5fr);
        place-items: stretch;
        padding: 20px;
        grid-gap: 20px;
          article {
            text-align: center;
            border: 2px black solid;
            padding-bottom: 10px;
          }
          a {
            border: 2px solid black;
            background-color: green;
            color: white;
          }
          a :hover {
            background-color: red;
          }
          img {
            margin-top: 10px;
            border: 2px solid black;
          }
      }
  
      .Options {
        grid-area: Options;
        background-color: rgb(255, 255, 255);
        border: 2px solid black;
        text-align: center;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
      }
    }
  }
}
       
#blog {
  .grid-container {
     grid-area: main;
     padding-top: 10px;
     display: grid;
     grid-template-columns: 100px auto 100px;
     grid-template-areas: 
      'SidebarBlog1 Blog Blog Blog Blog SidebarBlog2'
      'SidebarBlog1 Blog Blog Blog Blog SidebarBlog2'
      'SidebarBlog1 Blog Blog Blog Blog SidebarBlog2'
      'SidebarBlog1 Blog Blog Blog Blog SidebarBlog2'
      'SidebarBlog1 Blog Blog Blog Blog SidebarBlog2';
  }
  .blog {
    grid-area: Blog;
    display: grid;
    grid-template-columns: repeat(1, 2fr);
    grid-template-areas: 
    'Blogtitle Blogtext Blogtext Blogtext'
    'Blogimage Blogtext Blogtext Blogtext'
    'Blogimage Blogtext Blogtext Blogtext'
    'Blogtime Blogtext Blogtext Blogtext';

    #Blogtitle {
      grid-area: Blogtitle;
      background-color: cornflowerblue;
    }
    #Blogtext {
      grid-area: Blogtext;
      background-color: firebrick;
     }
    #Blogimage {
      grid-area: Blogimage;
      background-color: darkorchid;
    }
    #Blogtime {
      grid-area: Blogtime;
      background-color: green;
    }

  }

  @media only screen and (max-width: 850px) {
    .grid-container {
      background-color: red;
      grid-template-areas:
      'Blogtitle'
      'Blogimage'
      'Blogtime'
      'Blogtext';
    }
    
  }
  
}

#cart{
  h2{
    text-align: center;
    font-size: 2em;
  }
  p{
    text-align: center;
    font-size: 1em;
  }
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50vh; 
  }

  form {
    display: flex;
    flex-direction: column; 
    width: 200px; 
    text-align: center;
  }

  .form-column {
    flex: 1; 
    margin-right: 20px; 
  }

  label, input {
    display: block; 
    margin-bottom: 10px; 
  }

  #submit-button {
    margin-top: 10px; 
  }
}

#CreateBlog {
  main {
    text-align: center;

    form {
      #blogContent {
        width: 50vw;
        height: 50vh;
      }
    }
  }
}
