.wrapper {
    display: grid;
    width: 100%;
    height: 97vh;
    margin: 0;
    grid-template-rows: 120px auto 30px;
    grid-template-areas: "header" "main" "footer ";
  }
  #LogIn {
    text-align: center;
  }
  header {
    display: grid;
    grid-area: header;
    nav {
        background-color: mediumaquamarine;
        ul {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            gap: 10px;   
            li {
                background-color: mediumaquamarine;
                a {
                    text-decoration: none;
                    color: white;
                }
                list-style: none;
                img {
                    height: 120px;
                }
            }  
        }
    }
  }
.Home {
    grid-column: 1;
}

.Shop {
    grid-column: 2;
}

.Blog {
    grid-column: 3;
}

.Search {
    grid-column: 4;
}

.Cart {
    grid-column: 5;
}

  main {
    grid-area: main;
    background-color: rgb(255, 255, 255);
  }
  
  footer {
    grid-area: footer;
    text-align: center;
  }

  